# ============================================================
# macOS / Finder
# ============================================================
.DS_Store
**/.DS_Store
__MACOSX/

# ============================================================
# Source files
# ============================================================
src/
tsconfig.json
eslint.config.cjs
.npmrc
nodemon.json

# ============================================================
# Node / NPM
# ============================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/